/*  your css code here. If applicable */
.hero{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
img{
	width: 40%;
	height: 40%;
	object-fit: cover;
}

button{
	background-color: #f55d33; 
	padding: 10px;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	margin: 10px;
	width: 200px;
}